@import url("fonts.css");

html {
    font-family: "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

a {
    text-decoration: none;
}


/* Default color scheme */
html { 
    background-color: #fffff8;
    color: #122b17;
}
a {
    color: #288753;
}
a:hover{
    color: gray;
}

/* Support dark and light mode */
@media (prefers-color-scheme: dark){
    html {
        background-color: #222;
        color: #bbb;
    }
}

@media (prefers-color-scheme: light){
    html { 
        background-color: #fffff8;
        color: #122b17;
    }
}

body {
    line-height: 1.4;
}

h1{
    font-size: 3em;
    font-weight: 400;
    font-style: italic;
}

h2{
    font-size: 2.3em;
    font-weight: 400;
}

h3,h4,h5,h6,h7{
    font-style: italic;
}

#site-title{
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    margin: 0px;
}


/* a:hover{
    color:inherit;
}

.post-list a{
    color:inherit;
} */


.container{

    margin-top: 60pt;
    margin-right: auto;
    margin-left: auto;
    max-width: 600pt;
    
}

p{
    font-size: 1.4em;
}

.post-meta{
    color: gray;
    text-align: right;
}

.post-meta.centered{
    clear:both;
    text-align: center;
    float: none;
}


code {
    font-family: Monaco, "Lucida console", 'Inconsolata', monospace;
    font-size: 10pt;
    color: gray;
    display: inline-block;
    max-width: 100%;
    overflow-x: scroll;

}

.clear-both{
    clear: both;
}