@import url("fonts.css");

html {
    font-family: "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fffff8;
    color: #122b17;

}
body {
    line-height: 1.4;
}

h1{
    font-size: 3em;
    font-weight: 400;
    font-style: italic;
}

h2{
    font-size: 2.3em;
    font-weight: 400;
}

h3,h4,h5,h6,h7{
    font-style: italic;
}

a{
    /* color: inherit; */
    color: #288753;
    text-decoration: none;
}

a:hover{
    color:inherit;
}

.post-list a{
    color:inherit;
}

.post-list a:hover{
    color: #288753;
}

.container{

    margin-top: 60pt;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    max-width: 600pt;
    
}

p{
    font-size: 1.4em;
}

.post-meta{
    color: gray;
    text-align: right;
}

.post-meta.centered{
    clear:both;
    text-align: center;
    float: none;
}


code {
    font-family: Monaco, "Lucida console", 'Inconsolata', monospace;
}

.clear-both{
    clear: both;
}