---
---

@import url("fonts.css");
@import url("syntax.css");
@import url("projects.css");
@import url("topnav.css");

html {
  font-family: "et-book", Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
}

a {
  text-decoration: none;
}

/* Default color scheme */
body {
  /* background-color: #fffff8; */
  /* color: #122b17; */

  /* background-color: rgb(242, 245, 241); */
  background-color: white;
  color: #222;
}
a {
  background-color: rgb(241, 195, 227);
  /* background-color: rgb(83, 19, 64); */
  color: inherit;
}
a:hover {
  /* color: gray; */
  background-color: rgb(115, 65, 131);
  color: white;
}
.post-meta {
  color: #02883f;
}

.post-list a .post-link {
  color: #222;
}

/* Support dark and light mode */
@media screen {
  [data-darkmode="true"] {
    body {
      background-color: #222;
      color: #bbb;
    }

    .post-list a .post-link {
      color: #7ee9ae;
    }

    .post-meta {
      color: rgb(193, 144, 207);
    }

    a {
      background-color: rgb(83, 19, 64);
      color: white;
    }
    a:hover {
      background-color: rgb(136, 17, 100);
    }
  }
}

body {
  line-height: 1.4;
  margin: 0px;
}

h1 {
  font-size: 3em;
  font-weight: 400;
  font-style: italic;
}

h2 {
  font-size: 2.3em;
  font-weight: 400;
}

h3,
h4,
h5,
h6,
h7 {
  font-style: italic;
}

#site-title {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  margin: 0px;
  height: 2em;
  color: #7ee9ae;

  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

/* a:hover{
    color:inherit;
}

.post-list a{
    color:inherit;
} */

#masthead {
  /* max-width: 600pt;
  margin-left: auto;
  margin-right: auto; */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* padding: 10px 0px; */

  /* padding: 9px 14px; */
  /* background-color: black; rgb(209, 47, 161); */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-size: 14px;

  line-height: 1em;

  max-width: 100%;
  overflow-x: hidden;

  /* box-shadow: 14px 10px 0px #7ee9ae; */
}

.masthead-top {
  display: flex;
  justify-content: space-between;
}

button#dark-mode-toggle {
  cursor: pointer;
  background-color: transparent;
  height: 100%;
  border: none;
  font-size: 15px;
}

button#dark-mode-toggle:hover {
  background-color: #555;
}

#masthead .bottom-skew {
  height: 10px;
  transform: skew(45deg) translateX(14px);
}

#masthead .bottom-skew.white {
  background-color: white;
  transform: skew(45deg) translateX(34px);
}

#masthead .bottom-skew.green {
  background-color: #7ee9ae;
  transform: skew(45deg) translateX(24px);
}

#masthead .bottom-skew.pink {
  background-color: rgb(211, 121, 238);
}

#masthead .masthead-top {
  background-color: black;
}

#masthead #site-title a {
  /* padding: 14px; */
  padding: 4px;
  margin: 0px;
  background-color: unset;
  color: white;
}

.container {
  margin-top: 54px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600pt;
  padding: 10px;
}

p {
  font-size: 1.4em;
}

.post-meta {
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* text-align: right; */
}

.post-meta.centered {
  clear: both;
  text-align: center;
  float: none;
}

code {
  font-family: Monaco, "Lucida console", "Inconsolata", monospace;
  font-size: 10pt;
  display: inline-block;
  max-width: 100%;
  overflow-x: scroll;
}

.clear-both {
  clear: both;
}

ul.post-list li a:focus {
  background-color: black;
}

ul.post-list {
  padding: 0;
}
ul.post-list li {
  list-style-type: none;
  /* border-radius: 10px; */
  margin-top: 18px;
  margin-left: 14px;
  margin-right: 14px;
  padding: 9px 29px;
  border: 3px solid black;
  box-shadow: 10px 10px 0px black;
}
ul.post-list li:hover {
  transition: border-color 0.5s ease;
  border-color: #7ee9ae;
}

@media print {
  .no-print {
    visibility: hidden;
  }

  h2 {
    page-break-after: avoid;
  }
}
