---
layout: base
title: Projects
description: Software projects I built, both for work and for myself.
permalink: /projects/
---

{% assign sizes = "300, 600, 1000, 2000, 3000, 4000" | split: ", " %}
<!-- -->
{% assign formats = "jpg, webp, avif" | split: ", " | reverse %}

<ul class="project-list">
  {% for project in site.projects %}
  <li class="project-list-item">
    <a class="project-link" href="{{ project.link }}">
      <article class="project">
        {% if project.image %}
        <picture class="project-preview">
          {% for size in sizes %} {% for format in formats %}
          <source
            media="(max-width: {{size}}px)"
            srcset="/assets/images/{{format}}/{{project.image}}-{{size}}.{{format}} {{size}}w"
            type="image/{{format}}"
          />
          {% endfor %} {% endfor %}
          <!-- -->
          {% assign defaultAlt = 'Screenshot of ' | append : project.title %}
          <img
            src="/assets/images/jpg/{{project.image}}-1000.jpg"
            alt="{{project.alt | default:  defaultAlt }}"
          /> </picture
        >{% endif %}

        <div class="text-content">
          <h2 class="project-title">{{ project.title }}</h2>
          <!-- <p>{{ project.description }}</p> -->
          <div class="tag-pill-box">
            {% for tag in project.tags %}
            <div class="tag-pill">{{tag}}</div>
            {% endfor %}
          </div>
        </div>
      </article>
    </a>
  </li>
  {% endfor %}
</ul>
