<!DOCTYPE HTML>
{% include base.html %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{page.title}} # Jake Kara</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{page.description | default: page.title}}">
  <link rel="stylesheet" href="{{site.root}}/css/jk2017.css" media="all">
  <meta name="color-scheme" content="dark light">
  <meta name="theme-color" content="yellow">
  <meta name="author" content="Jake Kara">
</head>

<body>
  <header id="masthead">
    <a href="/">
      <h6 id="site-title">{{site.title}}</h6>
    </a>
  </header>
  <main class="container">
    {{ content }}
  </main>
</body>

</html>