<!DOCTYPE HTML>
{% include base.html %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{page.title}} # Jake Kara</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{page.description | default: page.title}}">
  <link rel="stylesheet" href="{{site.root}}/css/jk2017.css" media="all">
  <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48" type="image/x-icon">
  <link rel="icon" href="/favicon-152.png" sizes="152x152" type="image/png">
  <link rel="icon" href="/favicon-167.png" sizes="167x167" type="image/png">
  <link rel="icon" href="/favicon-180.png" sizes="180x180" type="image/png">
  <link rel="icon" href="/favicon-192.png" sizes="192x192" type="image/png">
  <link rel="icon" href="/favicon-1200.png" sizes="1200x1200" type="image/png">

  <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/favicon-167.png">

  <meta name="color-scheme" content="dark light">
  <meta name="theme-color" content="yellow">
  <meta name="author" content="Jake Kara">
</head>

<body>
  <header id="masthead">
    <a href="/">
      <h6 id="site-title">{{site.title}}</h6>
    </a>
  </header>
  <main class="container">
    {{ content }}
  </main>
</body>

</html>