<!DOCTYPE html>
{% include base.html %}
<html lang="en-US" dir="ltr">
  {% include head.html %}
  <body>
    <header class="no-print" id="masthead">
      <div class="masthead-top">
        <div id="site-title">
          <a href="/">{{site.title | downcase }}</a> ‣ {% if page.title %} {{
          page.title }} {% endif %} ░
        </div>

        <div id="dark-mode-toggle-container"></div>
      </div>
      <div class="bottom-skew pink"></div>
    </header>

    {% include topnav.html %} {{content}}
  </body>
</html>
